#replayButton {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
  }
  
  .bar {
    fill: steelblue;
  }
  
  .label {
    fill: white;
    font: 10px sans-serif;
  }

.column-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: nowrap;
}
  